.nav-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  align-items: center;
  background: #001529;
  padding: 0 10px;
}
.left-logo i{
  color: #fff;
  font-size: 20px;
}
.right-top img{
 margin-right: 10px;
}
.right-top{
  color: #fff;
  font-size: 14px;
}